[2019-03-20 00:15] rohmanhm opened #2 "Typescript support"
It would be nice if there is a typescript support 👍

[2019-03-20 00:39] ai commented on #2
I do not know how to add it. Do you want to send PR?

[2019-03-24 13:47] #2 closed

[2019-03-25 22:23] ai opened #5 "Fix Redux DevTools 2 jumps in the line"
@hadeeb I added demo page to test DevTools (and render caches), Redux DevTools works great except one thing:

1. `cd storeon` (don’t forget to take the latest version from `master`)
2. `yarn start`
3. Increase counter a few times.
4. Open Redux DevTools.
5. Jump to some state.
6. Then jump to another state.
7. Jump from step 6 will be no applied. Seems like you can do only one step before any othe

[2019-03-25 22:41] ai opened #6 "Add tests for devtools.js"
It is always good to have 100% test coverage

[2019-03-25 22:41] ai commented on #5
Maybe fixing https://github.com/ai/storeon/issues/6 could be helpful here

[2019-03-26 03:58] #5 closed

[2019-03-27 15:21] #6 closed

[2019-03-28 14:14] hadeeb opened #9 "Custom hook"
Each connected component creates an extra component in the react tree.

A custom hook would be a better solution as `storeon` already use hooks.
This could reduce bundle size and improve performance.

The `connect` HOC could be an opt-in. It could use the custom hook underneath.

Thoughts on this?

[2019-03-28 15:28] ai commented on #9
Yeap. Good idea. Should we still use `connect`? Can we use hooks in class-based components?

[2019-03-28 15:29] ai commented on #9
Seems like we should have both `connect` and `useStoreon` hook https://reactjs.org/docs/hooks-faq.html#should-i-use-hooks-classes-or-a-mix-of-both

[2019-03-28 17:14] ai commented on #9
Done bf113d7

Also, I moved `connect()` to `storeon/react/connect`

[2019-03-28 17:14] ai commented on #9
What do you think about API?

[2019-03-29 03:42] hadeeb commented on #9
Any reason for not choosing an api like `react-redux`'s `connect(...args)(Component)`

[2019-03-29 03:44] ai commented on #9
@hadeeb I copied `React.memo` API.

`connect(...args)(Component)` API requires more symbols from developer to use.

react-redux uses this API because it was the API of ES decorators. But TC39 changed the decorator API again, so we do not need a reason to use this API anymore.

[2019-03-29 03:50] hadeeb commented on #9
The return value from hook could be memoized.

[2019-03-29 03:51] ai commented on #9
@hadeeb can you send PR? Now, sure what do you mean.

[2019-03-29 05:19] hadeeb commented on #9
The only use case I can think of is

current
[code]

with memoization
[code]

But, according to [React docs](https://reactjs.org/docs/hooks-reference.html#usememo),
we should not use `useMemo` as a semantic guarantee.
So, I am not following it up.

This is the [commit](https://github.com/hadeeb/storeon/commit/f740a854b1a91e540ade2463044d3deaeb0a552f), if you are interested

[2019-03-29 17:29] ai commented on #9
I think `useMemo` here is only an optimization, not a guarantee. It is not a problem if `useMemo` will re-calc value.

Is it correct? dc475e3

[2019-03-29 21:13] hadeeb commented on #9
Looks good.
Can we rename `hook.js` to `index.js`? Can make the import smaller.

I'll create a PR with updated typescript definitions.

[2019-03-29 21:13] ai commented on #9
Good idea. We also force users to use this API.

[2019-03-29 21:16] ai commented on #9
Renaamed 06ccdd6

Waiting for TS update before making the release

[2019-03-29 22:01] #9 closed

[2019-04-01 04:52] hadeeb opened #13 "Async event handlers cause state update"
For every async handler, the store is updated and `@changed` is emitted.

[![Edit Storeon - async handler](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/n78nrpx7z4?fontsize=14)

[2019-04-01 21:58] ai commented on #13
I think it is better to go redux way with multiple events:

[code]

I think having `async (state) => …` API will force developers to avoid `catch` logic.

1. Should we add syntax sugar for this case? `asyncOn(store, async state => …, error => 'comment:error)`
2. At least we definitely should clear the best approach in the docs.
2. Maybe you have a different thought? I am open for suggestions.

[2019-04-02 03:12] hadeeb commented on #13
My suggestion,
- Ignore `Promise`s returned from handlers.
- Async handlers can dispatch other actions, but cannot act as a reducer.

I created a PR #14, if this approach is fine

[2019-04-02 03:18] ai commented on #13
Why do we need to return `Promise`?

Yeap, good idea.

[2019-04-02 03:26] hadeeb commented on #13
The return type of an `async` function is a `Promise`.
If it's not added, typescript won't allow `async` handlers.

[2019-04-03 19:21] developit opened #16 "Suggestion: use devtools to enable unknown action exceptions"
Hi there. I was just peeking at the source to see how size-limit was being used, and I noticed storeon relies on `process.env.NODE_ENV`. That seems a bit unfortunate! What do you think of using `storeon/devtools` to "inject" that behavior, rather than relying on Webpack to inline that env var?

[2019-04-03 19:25] ai commented on #16
Good idea. I will try to fix it today or tomorrow.

[2019-04-03 19:26] developit commented on #16
@ai Here's my suggestion:

[code]

[2019-04-03 20:32] ai commented on #16
We can’t hack `store.on`, because `devtools` could be applied after other modules.

I found another way: https://github.com/ai/storeon/compare/webpack-less-index?expand=1

But I found few problems:

1. Anyway `index.js` use `module.exports`. Is it possible to use it without webpack, Parcel or any other bundler?
2. If we will move this error message to `devtools`, it will not throw in tests (at lea

[2019-04-03 22:50] hastebrot opened #17 "(feature) Allow to pass options to Redux devtools."
The Redux devtools extension allows to supply [an `options` object](https://github.com/zalmoxisus/redux-devtools-extension/blob/2.17.1/docs/API/Arguments.md).

It would be nice if `storeon/devtools/index.js` also allows to receive these `options`.

[code]

[2019-04-04 01:55] ai commented on #17
Good idea. Do you want to send PR to save your name in the history?

[2019-04-06 00:02] ai commented on #17
Fixed 1c8b8df

[2019-04-06 00:02] #17 closed

[2019-04-06 00:27] ai commented on #17
Released in 0.6

[2019-04-06 06:45] hastebrot commented on #17
@ai Thanks. Didn't know we have to use `extension.connect(options)` to pass the options. 😸

[2019-04-07 02:10] developit commented on #16
Ah yeah, that's a good solution. Personally I think #2 is actually intuitive - throwing on unknown dispatch seems like a developer utility - really the throw is just to get a stack trace, so it could be using console.error().

I see you still went with `.indexOf('@')` - was it smaller after gzip or something?

[2019-04-07 06:24] ai commented on #16
Good idea :+1: I will do it.

My concern is that dispatching unknown event could tell us about a serious error. For instance, a typo in the event name. If a developer doesn’t use `storeon/devtools` (for instance, because they uses logger of custom devtools), they will lose useful information.

I will re-think about it in the next few days.

[2019-04-08 01:08] ai commented on #16
I thought about it and I think you are right. It is much better to have the same behavior in production and development. It is enough price for small DX reducing.

I will commit it and release on next week.

[2019-04-10 19:06] ai commented on #16
I even found a way to fight size back and even less. Storeon is now **174** bytes even with this changes.

Event typo check was released in in 0.7.

[2019-04-10 19:06] #16 closed

[2019-04-13 15:05] Lodin opened #20 "Support ES6 modules and possible the syntax"
Is it possible to add support for ES6 modules? For now, it cannot be used along with the ES6 module system (`<script type="module">`) which makes it less useful for projects that use modern technologies.

According to my investigation, adding `export default` instead of `module.exports` for the `index.js` adds 13 bytes (`187B`/`174B`).

Also, there are some missing capabilities due to the avoiding

[2019-04-13 15:54] ai commented on #20
I am waiting for Node.js modules spec finalization. If they will decide to have different `.js`/`.mjs` file extension, I will create `.mjs` file with simple RegExp transpile.

BTW, using `<script type="module">` without bundler if a very bad practice for performance. Because of the latency, we have 100-500 ms for every request. This latency delay increases if we have a chain of the resources (500

[2019-04-13 16:52] Lodin commented on #20
@ai

I agree, but that's a pretty convenient way to develop things. All you need is to write code and reload the page. No webpack, no parcel, no rollup, just like in good old times.

Yep, I thought about the isolation of modules in the single store without creating nested trees and using long strings. Inside a module, while getting a store you can get only the items you have symbols for. No name c

[2019-04-13 18:06] ai commented on #20
Yeap. Maybe next year we will have module-based “bundler” which will generate `preload` tags to solve the problem.

My way to do it is to put store modules into the directory `store/location.js`, `store/users.js`. The name of the file equal to store key.

However, your idea is nice too. What is a way to clone an object with Symbols?

[2019-04-13 18:55] Lodin commented on #20
@ai

Well, there are [plans](https://developers.google.com/web/fundamentals/primers/modules#web-packaging) for implementing native bundling system, but I'm not sure when and will this idea going to be implemented.

There are three of them: object spread (`{...obj}`), `Object.assign` and `Reflect.ownKeys(obj)`. I would suggest using `Object.assign`: it is well-polyfillable, React is based on it, an

[2019-04-13 19:17] ai commented on #20
Yeap, send PR with `Object.assign()`

[2019-04-13 20:03] #20 closed

[2019-04-14 15:26] Lodin commented on #13
@ai, @hadeeb, the simplest and most accurate way I found to detect a promise is `diff && typeof diff.then === 'function'`. Is this pattern ok? I'm thinking about users who would like to put `then` function to the store.

We can also stick with the current solution, but there are some caveats like: what would happen if user try to add async function in the IE environment where it is necessary to be

[2019-04-14 16:03] Lodin commented on #13
Hmm, maybe we really should just detect `then` method and clarify in the doc that users shouldn't use it. That's the most accurate way to work with A/A+, Q, Bluebird and other thenable elements.

[2019-04-14 18:06] ai commented on #13
Yeap, it is the best way to detect a Promise.

[2019-04-14 18:09] ai commented on #13
There is one dirty hack =^_^=. Most of the developer debug code in development, so in 99% this simple warning will be useful only in development.

So we can wrap the check into:

[code]

webpack and Parcel will cut this warning from production build but will keep it in development.

[2019-04-14 21:01] Lodin commented on #13
@ai, well, I would like to allow using the `async` functions. It is a great feature loved by many developers (me included), so it would be a waste working only with Promises.

I created a #26 as a solution; it is even smaller than `instanceof` approach: only 8 bytes added.

[2019-04-15 02:51] #13 closed

[2019-04-22 23:42] JLarky opened #29 "Typescript support"
I don't know if it's really possible but have you considered type safe storage? I know that it's still a big problem for redux and this project (as it is right now) seems like a step in a wrong direction

[2019-04-23 00:19] ai commented on #29
Hi. I personally not big fan of any typing. I am don’t use TS and didn’t create the project for TS.

If you have a solution, you can suggest API changes or feature in the separated issue.

Or you can start some `ts-store` project.

Or you can look at [Effector](https://github.com/zerobias/effector). They could be more TS oriented.

[2019-04-23 00:19] #29 closed

[2019-04-24 21:04] majo44 commented on #20
I'm very sorry to hear that you are not going (soon) to support ES6 modules. It is not about production workflow, where each developer/team can decide by self how to optimize the application by bundles, chunks, lazy loading, cdn, ect. Also cross env support, polyfilling ect, is a responsibility po app team, as only thy know, which kind of env they what to support.  "Simple things should be simple

[2019-04-24 21:22] ai commented on #20
@majo44 if you will give me any real use case for ES modules, I will reconsider my decision.

My current decision was made because ES modules (as I saw it) is hype-driven-development. Node.js still do not support ES modules out of the box (how we will test them with Jest?). There are not good production solutions (unpkg can’t be used in production because of performance downgrade). In this case, m

[2019-04-24 23:04] majo44 commented on #20
So package can contains es6 + commonjs, and many libs doing that.

Believe me, I'm not asking for ES6 modules because they are trendy, but because es6 modules are live, implemented and ready to use standard https://chromestatus.com/feature/5365692190687232
which solves one of my every day biggest problem: productivity.

Some examples, _angular-cli_ is taking >30s on `ng serve` before first view fo

[2019-04-24 23:09] ai commented on #20
What tool you will use them to compile project to the bundle or generate preload map (or any other method to reduce requests chain with latency on every step)?

How you will replace `import dep from "somedep/index.js"` in library code to `from "https://unpkg…`?

[2019-04-24 23:44] majo44 commented on #20
Ok, so in code I do not want to use cdn, this was just some example. I'm using @pika/web to install browser packages (after yern/npm install it automatically install es6 module bundles to web_modules, what more it is handling sub dependencies, and resolve all cross paths inside dependencies tree).

So in code I have:
[code]

And for the build bundles I'm using webpack for "production" bundle, wher

[2019-04-24 23:50] majo44 commented on #20
Btw. Other setup, much simpler, without typescript, and string replace can be where all `/web_modules/....` are set on wepack as external, and we are just bundling all own code, and just referring 3party dependencies from `/web_modules`. Still Bable will be required to compile to ES5.

[2019-04-24 23:56] ai commented on #20
Can we use Babel to compile CJS to ES modules?

[2019-04-25 00:05] majo44 commented on #20
I do not know.

I also thought about workflow where all required deps are once after installation are "standardized" to es6, and then used on dev worklow. There is some project https://github.com/nolanlawson/cjs-to-es6 but is not maintained anymore.  Also webpack is not able to do that so far https://github.com/webpack/webpack/issues/2933 .

I did not checked Bable, I just found https://www.npmjs.

[2019-04-25 13:51] AcidRaZor opened #31 "Required to install preact?"
I'm looking for a smaller/easier library than Redux/Saga and found your write-up and decided to try storeon.

I've made the code changes, removed my dependencies of redux/saga etc, ran `npm run build` and saw that I am required to install preact just for the software to work? Why? Maybe I'm missing something

*edit, yea I was missing a line of code that said preact instead of react.... my bad

[2019-04-25 14:03] AcidRaZor commented on #31
It also looks for preact/hooks, and when trying to install preact/hooks just to get this to work to test it out, it can't find the library? why is preact a requirement to install, including preact/hooks? Just so that I can build my project? Again, I might be missing something here, but I've been through your documentation and the only references to preact I see is when you call it in the StoreCont

[2019-04-25 14:08] #31 closed

[2019-04-26 17:15] majo44 commented on #20
He, so babel is able to translate commonjs to es6 modules, thx for suggestion. Storeon,  core, devtools and logger, everything works fine after:
[code]
But still, much more simpler will be to use es6 modules directly from published package :)

[2019-04-26 18:39] ai commented on #20
I will think about ES modules when npm will release final spec. I afraid that Babel-style fake ES modules (for instance `import a from "a"` is not real module because there is no `.js` in path).

We need a real tools to create modules for them.

[2019-04-29 17:35] nikolay-govorov opened #33 "Storeon router module"
In SPA applications, you often need to interact with the url. One approach is to treat the url as part of the state. When changing state, changing the url and Vice versa.

I suggest adding an optional router module to Storeon. For example so:
[code]

It is very easy to use in React:
[code]

[2019-04-29 17:46] ai commented on #33
Good idea.

Should we consider to move it under `storeon-router`?

[2019-04-29 17:47] ai commented on #33
Here is my current router:

[code]

[2019-04-29 17:50] nikolay-govorov commented on #33
Yes, can be separate package, but I think that this excessively. This is a small optional extension, same as wrappers for React and Preact.

[2019-04-29 17:53] ai commented on #33
I suggestion API:

[code]

Note of using `Symbol` instead of prefix.

[2019-04-29 18:03] nikolay-govorov commented on #33
About `storeon-router`, as a separate package. Creating and maintaining a separate package is a strong structural complication. There are many questions: how to update the environment (a new size-limit has been released), synchronize versions (TS bindings have changed), who will support a separate package.

I think while we are testing the hypothesis that the router will be useful and convenient,

[2019-04-29 18:06] ai commented on #33
Don’t worry. I will do it.

I am working with multiple repositories in PostCSS and Logux. It is not so the big problem (especially compare to maintaining Lerna as we tried in cssnano).

I want to move it to a separated repository to keep users from the single “right” implementation of a router. Also, a separated package will better show that “Storeon has ecosystem” :D.

[2019-04-29 18:08] ai commented on #33
When we will finish the discussion about API, I will create an org for Storeon and move both packages there.

[2019-04-29 18:10] nikolay-govorov commented on #33
I hope https://github.com/storeon/ belongs to you :D

[2019-04-29 18:12] ai commented on #33
Yeap :)

[2019-04-29 18:22] ai commented on #33
`storeon/storeon` was moved. npm org was also created.

Storeon will continue to use `storeon` package name, but the router will use `@storeon/router`. Is it OK?

Any suggestion about router API?

[2019-04-29 18:26] nikolay-govorov commented on #33
I like the organization, it's great. I do not see any serious flaws in the proposed API. The only thing I want to suggest is to use not only RegExp, but also strings. Perhaps I would suggest using glob parameters because they are more familiar to most and easier to read.

[2019-04-29 18:28] ai commented on #33
`'/a/*/b/*', (full, one, two) => …`?

[2019-04-29 18:30] nikolay-govorov commented on #33
Yeah, something like that. Maybe `'/user/:name/options/:section', (full, { name, section }) => …`?

[2019-04-30 05:43] igorkamyshev opened #36 "Compatible with redux middlewares"
Hello!

Great lib, but Storeon have no large ecosystem. I guess, if we can use any redux middleware, it will be fabulous.

How do you thinks, can we with `@dispatch` and `@change` events add compatibility with redux middlewares?

[2019-04-30 05:53] ai commented on #36
We can't have 100% compatible because Storeon event listeners can't block event processing.

BTW, what is your favorite Redux middlewares?

[2019-04-30 05:58] igorkamyshev commented on #36
Yes, I think about it. In such a case, can we just create packages similar to important middlewares?

For example, `redux-logger`.

[2019-04-30 05:59] ai commented on #36
Did you tried similar `storeon/devtools/logger`?

What else do you like?

[2019-04-30 06:06] igorkamyshev commented on #36
Wow, I miss it, thanks!

`redux-debounce` for debounce actions, `redux-catch` for catching errors. And `redux-localstorage` — not a middleware, but so useful util.

[2019-04-30 06:10] ai opened #37 "Add redux-debounce analog"
https://github.com/ryanseddon/redux-debounced

[2019-04-30 06:11] ai opened #38 "Add redux-localstorage analog"
https://github.com/elgerlambert/redux-localstorage

[2019-04-30 06:12] ai commented on #36
I created issues for this stuff. We will port them.

https://github.com/storeon/storeon/issues/37
https://github.com/storeon/storeon/issues/38

What is your use case for `redux-catch`?

Something else?

[2019-04-30 06:19] igorkamyshev commented on #36
When I make a request, I can receive 403 or 401 error, and want to handle it (write some to store) in one place.

Now, I think, it is all utils what I want. If I found something else, I create the issue.

Thanks!

[2019-05-01 19:40] polemius commented on #38
I have created the [storeon-localstorage](https://github.com/polemius/storeon-localstorage).

@ai Can you please check this module. I'm not sure if I do it in right way.

[2019-05-02 06:03] ai commented on #38
@polemius great. I opened a few issues there.

We can move your project to `@storeon` when we will finish polishing it,

[2019-05-02 12:49] polemius opened #40 "Add redux-undo analog"
The redux has middleware to provide undoable functionality. It is the [redux-undo](https://github.com/omnidan/redux-undo).

Maybe we can create the simpular module for storeon.

[2019-05-02 12:54] ai commented on #40
Good idea. I also need it for Logux.

I will think about the implementation.

[2019-05-02 12:58] polemius commented on #40
Great 👍

I can try to implement it if you have an idea of how it can be implemented.

[2019-05-02 22:20] nikolay-govorov opened #42 "Add @logux/redux analog"
The Redux has compatible API on top of [Logux Client](https://github.com/logux/client): [@logux/redux](https://github.com/logux/redux). It would be convenient to have the same wrapper for Storeon

[2019-05-02 22:22] ai commented on #42
Agree. The problem is that we need to split reducers and middlewares. I am still thinking about the best API.

[2019-05-03 07:51] ai opened #43 "Add storeon/cross-tab module"
This module should sync state’s keys between browser tabs via `storage` event.

Can be useful to combine it with `@storeon/localstorage`

[2019-05-03 08:22] mahdidavoodi7 opened #44 "I can't use storeon with preact"
Hi
I'm using `"preact": "^8.2.6"`, and `"storeon": "^0.8.0"`
When I want to start my project I got this error and I think this is a problem.

Please help me

[2019-05-03 08:25] ai commented on #44
You need Preact X. Try `npm i preact@next`.

Preact 8 doesn't support hooks.

[2019-05-03 08:25] #44 closed

[2019-05-07 07:35] #36 closed

[2019-05-08 11:05] igorkamyshev commented on #37
Hello. I try to implement it, but have one issue.

If the event was recently, I have to stop all subsequent ones., but `storeon` "middlewares" can't destroy actions.

Can you give me advice, how I may implement it?

[2019-05-08 11:09] ai commented on #37
1. We can suggest `debounce` for event listeners: `store.on('event', debounce(…))`. In this case, users can use any debounce library.
2. We can improve the core API for this task. For instance, by returning `false`.

[2019-05-08 11:13] igorkamyshev commented on #37
1. In this case, we don't need specific package for debounce, I guess.
2. If we use solution from "1" to debounce actions, maybe anyway implement this core API? I think, it may be useful for many reasons.

[2019-05-08 14:00] rqrqrqrq opened #46 "Codespliting example / module"
To maintain small initial bundle size we should be able to split storeon modules (reducers) and load + inject them on demand.

The main problem right now is to init only fresh modules after load without dispatching `@init` for others.

initial api proposal:
[code]

[2019-05-08 15:39] rqrqrqrq commented on #46
@ai like it, much cleaner.

Still thinking about modules deduplication keeping in mind that some async module can be already injected with `createStore([module])` (IMO we should support this usecase to keep components reusable) . We also must maintain injected modules in store property (not in external storage) to prevent bugs with multiple stores per app. Straitforward solution would require deco

[2019-05-08 15:57] rqrqrqrq commented on #46
Changing a way to initialize state worries me btw. We literally asking to change module if it should be async injected (not that much but still)

[2019-05-08 16:13] ai commented on #46
Is it a good idea to put store event listeners to chunks? I think it is better to put libraries, UI parts, and JSON with data.

[2019-05-08 16:46] rqrqrqrq commented on #46
@ai I got your point.

From my point of view typical redux-based application contains a lot of business logic inside such listeners, sometimes abstracted into services, but the listeners still require that logic to be fetched (as its often static imported) before initialization.

If that code is fetched and unused for first app load then reducing the size of library itself is nearly pointless for

[2019-05-09 14:36] AcidRaZor opened #48 "Trying to reset state to initial state"
Hi,

I'm currently loading a product detail as state when the landing page of the product is reached. This works nicely.

On the same page, utilizing the same component that displays the detail (only with less information), I load similar products. This works nicely.

I have a button on both the main product, and similar products, leading to the same page. It will either display the main product,

[2019-05-09 14:40] ai commented on #48
Hi. Try to `store.dispatch('@init')`. I think it could help.

[2019-05-09 14:41] ai commented on #48
`store.on('productdetails/reset', () => initialState);` may not work because you do not update state. You need to always create new object. Try `store.on('productdetails/reset', () => { ...initialState });` if you need to update only specific state’s key.

[2019-05-09 14:48] AcidRaZor commented on #48
Thank you for the quick response. Unfortunately the latter gives an error in code. The former @init idea doesn't seem to fire any updates to React component after the initial state has been reset.

Maybe I'm doing something wrong. I will attempt this in the morning again when I'm fresher.

[2019-05-09 14:49] ai commented on #48
Hm. Can you show me the whole code?

[2019-05-09 22:52] vovakulikov commented on #43
Hello,
I implement the first version of this module and only then I saw this issue :).
And the description confused me a little bit. Wouldn't it be better to synchronize distpatch actions for each tab (store) than to sync the state's keys?

[2019-05-09 23:02] Ty3uK opened #49 "Can't re-render component with useStoreon"
Andrey, thank you for such awesome package!
I have trouble [with this simple code](https://codesandbox.io/s/008l782320): useEffect called after dispatching `loading/set` from Home component.
I am newbie in React and cannot understand what I am missing.
Thank you.

[2019-05-10 04:47] ai commented on #49
Maybe this issue is related to React’s `useEffect` issue https://github.com/storeon/storeon/pull/47

Can you replace `useEffect` to `useLayoutEffect` in `node_modules/storeon/react/index.js` and check did it help you?

[2019-05-10 04:50] ai commented on #43
Yeap, `dispatch` action sync could be better. With a filter what action should be synchronized.

But `dispatch` sync will force any user to use this module with `storeon/localstorage` to sync initial state:

1. Open tab 1
2. Do something
3. Open tab 2
4. You need some way to sync “something” from tab 1

[2019-05-10 08:29] AcidRaZor commented on #48
Hi,

This is in my component:

[code]

My storeon file looks like this:

[code]
(it's actually way more than that, but I snipped it as it's not relevant)

[code]

I'm thinking it might be a timing issue somehow, where the reset doesn't initiate a change/redraw of components and then waits for the API, and as soon as the data changes, it updates.

Your insights will be helpful, I wish I was an expe

[2019-05-10 08:57] ai commented on #48
Can you try to replace `useEffect` to `useLayoutEffect` in Storeon sources? We found React hook issue with updating effect.

[2019-05-10 08:57] ai commented on #48
Here is details https://github.com/storeon/storeon/pull/47

[2019-05-10 09:00] Ty3uK commented on #49
@ai  yes, it helps. Same goes to preact (of course), initially I had a problem with my preact project, that's why I checked same code in React CodeSandbox.

[2019-05-10 09:03] ai commented on #49
Perfect. I will try to release fix today or tomorrow.

[2019-05-10 09:17] Ty3uK commented on #49
@ai thank you!

[2019-05-10 09:29] ai commented on #49
The fix was released in 0.8.2

[2019-05-10 09:29] #49 closed

[2019-05-10 09:29] ai commented on #48
Or try 0.8.2 release, it contains this `useEffect`→`useLayoutEffect`

[2019-05-10 10:27] AcidRaZor commented on #48
Apologies, I think this got mixed up with someone else's request? I don't use hooks. Should I?

It would seem if I don't switch components, the reset works, but as soon as I navigate (react-router-dom) to another component, the reset doesn't work. I'm wondering if I should kick off the reset onClick of the button instead of on the componentDidMount/componentDidUpdate

[2019-05-10 10:29] ai commented on #48
Are you using `connect` decorator? It anyway use hook inside.

[2019-05-10 10:30] AcidRaZor commented on #48
Yes I'm using the connect decorator, I'll update storeon and see if that helps. Thank you

[2019-05-10 10:48] AcidRaZor commented on #48
That did not fix it. So going from /product/id, clicking on a similar product (not the one displayed) and going to /order/similar_product_clicked_id, I detect and fire the reset, but it doesn't clear the data and continues to call and then load the necessary data from the API. If the user is on a slow connection, they might not know a change is happening in the background and it would appear wrong

[2019-05-10 10:48] #48 closed

[2019-05-11 15:51] ai commented on #43
Fixed by @isolovev

[2019-05-11 15:51] #43 closed

[2019-05-12 06:51] polemius commented on #40
@ai, I've implemented the `undo` module for storeon. Check it out here: https://github.com/polemius/undo. What do you think about it? Can I move it to @storeon organization?

[2019-05-15 13:10] AcidRaZor opened #52 "Possible to respond on a Promise?"
Hi,

I'm trying to dispatch a POST and once data is retrieved, then change the page to either a success or a failure page (has to be a different page and not just a toastr message that pops up)

The following, obviously, won't work (in my form component):

[code]

How would I be able to tell if the POST was successful (or failed for any reason) and then continue to load a different route?

Or woul

[2019-05-15 18:53] ai commented on #52
Keeping business logic in React components is an anti-pattern in Storeon.

The core idea is to move logic to separated modules. So, in this case, it will be something like:

[code]

The idea is to keep Promises in modules and have only dump components with simple `props`.

But it is just an idea. Can you tell me more about your case?

[2019-05-15 19:25] ilyalesik opened #53 "Add connected-react-router analog"
[react-router](https://reacttraining.com/react-router/web/guides/quick-start) have binding for Redux: [connected-react-router](https://github.com/supasate/connected-react-router). Maybe Storeon analog needed?

Possible syntax:
[code]
At components:
[code]

[2019-05-15 19:27] ai commented on #53
What is the difference between `react-router` and `connected-react-router` (docs are bad)?

[2019-05-15 19:40] ilyalesik commented on #53
`react-router` provide access to `location, match, history` through `withRouter` HOC.
`connected-react-router` keeps `react-router` state at Redux store and so `location, match, history` may be got via `connect` from `react-redux`.

[2019-05-15 19:42] ai commented on #53
Is it duplicate for https://github.com/storeon/storeon/issues/33 ? Anyway Storeon router will have different API

[2019-05-15 20:02] ilyalesik commented on #53
It's not duplicate #33. `'@storeon/react-router'` would be binding for `react-router`.
Users will be able to take some components from "react-router-dom":
[code]
and work with history as Storeon store:
[code]

[2019-05-15 20:04] ai commented on #53
Nope. Storeon idea is to keep logic away from components. We will not use `react-router-dom`.

[2019-05-15 20:30] ilyalesik commented on #53
Why not give users the opportunity to choose themselves which routing solution them better for their needs? 😀

[2019-05-15 20:31] ai commented on #53
We should promote best practices. Most of the developers will not see the problems with `react-router-dom` at the beginning and will found that they made a bad choice when it will be too late.

[2019-05-15 20:31] #53 closed

[2019-05-17 10:07] ahtohbi4 opened #55 "Freezing of props passed to connected children"
preact: `^10.0.0-beta.1`
storeon: `^0.8.3`

Hi!

If I pass some props from the parent component to the connected (by the `connect()` function) child component, the props will be frozen there. Is it correct behavior?

You can see the example (https://codesandbox.io/s/exciting-nash-x8ur0?fontsize=14): checkbox updates a prop `value` in the `Child` component and doesn't do it in the `ChildConnected`

[2019-05-17 12:23] AcidRaZor commented on #52
Yes, this.props.dispatch would dispatch a call to the API to insert data to the database (effectively doing the separation as suggested). The problem is, I can't then redirect the page to a different page in my route setup, since dispatch/state would be updated asynchronously. I can't force it to wait for storeon (with a Promise) and then continue.

Literally, contact form, click button, submit to

[2019-05-17 13:10] ai commented on #55
Can you show some example where exactly it is frozen? (Sorry, I am preparing for a talk and do not have time to investigate example app deeply)

[2019-05-17 13:22] ai commented on #52
Can you show some code example (or pseudo-code) of what do you want to do?

[2019-05-17 14:33] unger1984 opened #56 "Does not work with React Native"
Usage:

react-native 0.59.8
storeon 0.8.3
react-native-router-flux 4.0.6

[code]

[code]

When i call store.dispatch('code/check',333) from second component, in the console, I see the output store.on('code/error', ({code},error), but the fact that the data in component 1 does not come.

[2019-05-17 16:14] ai commented on #56
Maybe it is React hook issue? Can you replace `useLayoutEffect` to `useEffect` in `node_modules/storeon/react/index js` and try again?

[2019-05-17 16:19] unger1984 commented on #56
I`m try put console.log before return in component. They not rerender (

[2019-05-17 16:21] ai commented on #56
Давай по русски. Они вообще не рендерятся или не обновляются?

[2019-05-17 16:24] unger1984 commented on #56
Оно вообще не реагирует на смену состояния. Если ставить console.log перед return в компоненте, он два раза выводит initialState уже после console.log("SET", error); Т.е получается что диспатчится 'code/check', отрабатывает, диспатчит 'code/error' (он в консольлоге отображается), а вот в компоненте ничего не меняется. Это происходит именно тогда когда открываешь компонент. Если внутри него сделать

[2019-05-17 16:29] ai commented on #56
Ага, очень похоже, что глючат хуки Реакты. Ты пробовал исправить то, что я выше написал в исходниках Стореона?

[2019-05-17 17:01] unger1984 commented on #56
В 6й строке поменял
`typeof window !== 'undefined' ? React.useLayoutEffect : React.useEffect`
на
`typeof window !== 'undefined' ? React.useEffect : React.useEffect`

не помогло.  Попробовал чуть по другому. Если в родительсвом компонение добавить в useEffect dispatch('code/check',333) - во второй компонент данные приходят. Если этот же диспатчер повесить на кнопку - нет. Хотя судя по логам оно отр

[2019-05-17 17:14] ai commented on #56
Покажи дифф что меняешь и какой вывод консоли

[2019-05-17 17:22] unger1984 commented on #56
[code]

Вот вывод консоли когда в useEffect срока закоментипрована и жмем кнопку:

[code]

Соответвенно первая строчка выводится в диспатчере
[code]
а вторая в открываемом компоненте

[code]

если в useEffect вставляю строку с dispatch('code/check',9999999) он естественно сразу открывает компонент и данные в нем обновляются:

[code]

[2019-05-17 17:49] ai commented on #56
1. А `dispatch('code/check',e.data)` в `onBarCodeRead` обновляет компонент
2. А можешь включить модуль `storeon/devtools` и показать вывод с его записями

[2019-05-17 17:52] unger1984 commented on #56
1. Именно из-за того что он не обновляет, я и стал эксперементировать с кнопкой и useEffetc
2. devtools на react native не работает. Пишет: undefined is not an object (evaluating 'window.top.__REDUX_DEVTOOLS_EXTENSION__')

[2019-05-17 17:53] ai commented on #56
Перепутал — `storeon/devtools/logger` (DevTools сейчас исправлю под RN)

[2019-05-17 18:00] unger1984 commented on #56
Все, storeon/devtools/logger помог найти проблему. Как всегда сам дурак, что называется. У меня оказывается useEffect постоянно диспатчил очистку состояния, вот пустые данные и приходили. Спасибо за помощь!

[2019-05-17 18:00] #56 closed

[2019-05-18 09:17] #38 closed

[2019-05-18 09:17] #40 closed

[2019-05-19 20:08] ahtohbi4 commented on #55
Sure.

1. The first render (you open the page). The prop `value`, passed from parent component `App`, is `on`. To `connect()` function it comes with `originProps` and then mixed with `props` are coming from `useSoreon()` (line 10):

    <img width="806" alt="Снимок экрана 2019-05-18 в 15 52 12" src="https://user-images.githubusercontent.com/3686790/57970077-81fd8e80-7985-11e9-9c27-09143c9761aa.png

[2019-05-20 14:08] ai commented on #55
I will look on this week on next one (sorry, too many conferences)

[2019-05-21 06:38] AcidRaZor commented on #52
Please see my original post for the pseudo code of what I want to do.

[2019-05-21 08:08] ai commented on #52
The first example shows an abstract code. It doesn’t show what do you exactly want to do. What data to you need to load, how do you change UI on errors?

For your initial example, the answer is simple: just move this logic from components to store modules to keep components dump (and we do not need API with Promises because it will force developers to write smart components).

However, maybe you h

[2019-05-25 13:55] ai commented on #55
(Sorry, I had a hard week and I will ask stupid questions).

1. Was it happens because of mixing `props` from `useStoreon` and `originProps`?
2. `Object.freeze()` will fix the problem?

[2019-05-27 15:08] ahtohbi4 commented on #55
1. Yep:

   <img width="829" alt="Снимок экрана 2019-05-27 в 17 21 26" src="https://user-images.githubusercontent.com/3686790/58427282-d3a1c980-80a7-11e9-95a3-e13a49748b4a.png">

    Maybe using `hooks.useMemo()` under the hood of `useSoreon()` is a cause of it?

[2019-05-28 11:57] AcidRaZor commented on #52
Clearly my English sucks. The code I presented is both abstract and pseudo. It's an idea that doesn't exist yet because Promises aren't returned by dispatch (hence my question if it's possible to respond with a Promise when you dispatch, and showing you the code I was attempting, which, in it's physical form, becomes abstract, hence the code, while not working, is both pseudo and abstract accordin

[2019-05-28 12:04] AcidRaZor commented on #52
I realize I might look like an idiot struggling with this problem that might be easy for others

[2019-05-28 13:26] ai commented on #52
You need to redirect a successful submission to a different route using react-router once it comes back from the API as successful. Let's assume there is no failure scenario at all on the server-side, I don't care about this for now.

My current custom order that you need to do all of it in modules, not component. Put input values and errors to the store.

[2019-05-29 08:08] igorkamyshev commented on #52
Hello!

I have use-case for this issue.

I want do something in store (e.g. login user) and after it close login modal or redirect user to another page. This actions (modals, redirects) not "domain" actions. It is UI actions. But now, I must write many boilerplate code for this case.

Now:

[code]

With returning Promise:
[code]

Also, this API change reduce boilerplate in store definition.

@ai w

[2019-05-31 09:41] ai commented on #52
I still stink that you should move

[code]

to store module and not keeping it in a component.

In Storeon we splitting the app into “logic” and “UI”. It was a core idea of creating the Storeon (for instance, routing is a store module, not a component as in React Router).

If we want to split into “domain” and “local” logic, we will have completely different API (Effector is much closer to it).

[2019-05-31 09:42] ai commented on #52
Second question: how we will return a value if action has 2 event listeners:

[code]

What we should return in this case?

[2019-05-31 09:44] ai commented on #52
If you want to keep your way, just use action creator pattern:

[code]

[2019-05-31 09:44] #52 closed

[2019-06-03 12:23] majo44 commented on #33
Hi
Maybe you will be interested about my implementation of router based on storeon, I used a bit different solution, where I added 4 critical (for me) features:
- possibility for **async** route handlers (eg for prefetch the data or lazy loading)
- support for **abort** the routing if there was some navigation cancel (eg by fast clicking on pagination)
- ability for **update** routing in fly (eg,

[2019-06-03 12:31] ai commented on #33
@majo44 we can have both routers: `@storeon/simple-router` and `@storeon/smart-router`.

What is the Size Limit result for you router? (it is OK to have bigger size, just to be sure that we do everything to reduce the size)

Can you show me the router API? (Sorry your current examples are too long, if you will die me smaller example I can process it much faster)

[2019-06-03 15:22] majo44 commented on #33
@ai
Details https://github.com/majo44/non-compromise-es6/blob/master/app/src/lib/storeonRoutingModule.md
Best regards.

[2019-06-03 15:54] ai commented on #33
@majo44 9,41 kB is too much. You definitely have a lot of unnecessary code in your bundle. Check what does TS compiler generates.

[2019-06-05 08:50] majo44 commented on #33
@ai I putted clean router code here https://github.com/majo44/storeon-async-router, let me finish it (test, documentation, ect.) and later you can decide to move it to @storeon scope, or I will leave it on separate repo.

[2019-06-06 16:49] hadeeb commented on #55
Seems like some changes in [`storeon/react`](https://github.com/storeon/storeon/commit/86782a4a9b7872724770a4f26f9be68392da83e2) are not ported to `storeon/preact`

[2019-06-06 17:40] #55 closed

[2019-06-06 17:43] ai commented on #55
@hadeeb fixed the problem and I released it in 0.8.4.

@ahtohbi4 sorry for the long delay. Can you try the new version?

[2019-06-07 07:18] ahtohbi4 commented on #55
Now it perfectly works (https://codesandbox.io/s/exciting-nash-x8ur0?fontsize=14).

@hadeeb and @ai thank you for your work!

[2019-06-13 18:45] mindplay-dk opened #63 "Understanding the dispatch() function"
Hi,

I'm trying to understand the `dispatch()` function:

[code]

Specifically, in the `forEach` over event callbacks, why is the new state being assigned indirectly to `state` via a `changed` variable in the parent scope?

It seems `changed` is just being used as a kind of boolean, to check if any changes were applied after the loop?

If so, would the following be equivalent?

[code]

Just trying

[2019-06-14 14:20] ai commented on #63
Yeap, it will work, but it will 174 bytes instead of current 173 =^_^=

So the trick is used to reduce the size.

I changed the code a little af367a5. Did it improve readability?

[2019-06-14 14:22] ai commented on #63
If the user will use `async/await` function will always return Promise.

[code]

[2019-06-14 14:23] ai commented on #63
It was great questions :)

[2019-06-19 07:54] mindplay-dk commented on #63
Thanks for the clarifications - makes sense now.

Closing as there's no issue here :-)

[2019-06-19 07:54] #63 closed

[2019-06-20 17:05] unger1984 opened #64 "storeon/devtools/logger && React Native"
storeon/devtools/logger in React Native console displays a lot of extra characters:

`06-20 19:59:14.979  5166  5243 I ReactNativeJS: '%caction %cauth/setField', 'color: #008100', 'color: #008100; font-weight: bold', { field: 'password', value: 'as' }`

This is probably the color for the browser console.

Version:
"react": "16.8.3",
"react-native": "0.59.9",
"storeon": "0.8.5"

[2019-06-20 17:08] ai commented on #64
Yeap. How I can test l check React Native environment?

[2019-06-20 17:24] unger1984 commented on #64
storeon/devtools/logger write to standard OS console. I`m run react-native log-android command, they parse adb logcat console (adb logcat *:S ReactNative:V ReactNativeJS:V) and show logs for js. It`s Normal Unix Console.

[2019-06-20 22:54] ai commented on #64
How with JS code I can detect that this JS code is running inside React Native?

[2019-06-20 23:09] ai commented on #64
Fixed 195df4e

[2019-06-20 23:09] #64 closed

[2019-06-20 23:23] ai commented on #64
Released in 0.8.6

[2019-06-27 14:08] majo44 opened #68 "Full type safe TypeScript declaration"
Current typescript declaration is not provide the way to express the `events` names and `data` types acceptable by the store.  As Typescript have a very powerful Generics types system we are able to provide much smarter declaration, which give as full intellisense and full type checking for `on` and `dispatch` methods.

Declaration can looks like:
[code]

Then for declaration like:
[code]

We are

[2019-06-28 16:25] ai commented on #68
I like the idea of smart typing. I am not sure what changes it will require, so I will say final opinion on PR (I will 100% accept it if we will not break API or increase size).

Also we will need to provide some docs of using this store typing.

[2019-07-01 23:06] majo44 commented on #68
Resolved by https://github.com/storeon/storeon/pull/69

[2019-07-01 23:06] #68 closed

[2019-07-03 20:46] Rommero commented on #48
@AcidRaZor did you find a solution? I've faced the same problem actually. The connected component seems to be not updating (while the @changed event occurs properly. The data just seems to be not sent to the subscribed component)

[2019-07-03 22:06] Rommero opened #70 "Dispatching multiple actions doesn't update the component"
There's a really annoying bug (or my misunderstanding of storeon conception) which actually prevents from using storeon at all (but I'd really love to :D)
~~I've created a component with the following code~~
I've managed to minimize the issue and find the temp solution (which is a terrible one, imho).
So, I have this component

[code]

**_articles/get_** action looks like this (I reduced the code

[2019-07-03 22:49] Rommero commented on #70
So far I've tracked down that **_@changed_** event is captured inside the store, but it isn't actually captured inside `useStoreon` hook (line 34 to be exact `return store.on('@changed', function (_, changed) {`)

Changing line 48 from
`data.dispatch = store.dispatch`
to
`data.dispatch = (...args) => setImmediate(() => store.dispatch(...args))`
seems to be solving the issue. But it doesn't look go

[2019-07-03 22:51] ai commented on #70
Maybe we need to fix dispatch internals. I will think what I can do here during this and next weeks.

[2019-07-03 23:03] Rommero commented on #70
@ai I've tried playing with dispatch internals myself but couldn't find a proper solution there. Probs not a good idea to dig up in storeon's code at 2 am :D
I really appreciate your quick response.

[2019-07-06 00:07] ai commented on #70
What behavior did you have with this scenario?

Am I right that using `store.on('@changed')` doesn’t have any problem?

Can I as you to quickly check with function component and `useStoreon` hook without `connect`?

[2019-07-10 12:29] pret-a-porter opened #72 "useSelector hook"
Proposal:

[code]

[2019-07-10 16:01] ai commented on #72
Why do you need this API?

[2019-07-10 17:08] pret-a-porter commented on #72
I want to keep in my store minimal data and compute derived data for my components.

[2019-07-10 17:13] ai commented on #72
Callback API is bad because of performance. You can't explicitly describe what store changes you are binding too.

What about this API:

[code]

[code]

In this case your component will re-render only on `users` change.

[2019-07-10 17:45] pret-a-porter commented on #72
This api is good, but what if I want use some computed data in component and action handler?

[2019-07-10 17:48] ai commented on #72
You can put these computentions in that `useUser` wrap

[2019-07-11 10:00] pret-a-porter commented on #72
I tried it, it is not so convenient.

1. With big store I need to write each time construction like `useStoreon('one', 'two', ... 'ten')`; For example, twenty hooks with this construction...
1. When I will change structure of my store,  I will need to change every hook and every selector function. With useSelector hook I will need to change only selector functions.
1. I use Typescript, with useSel

[2019-07-11 17:28] ai commented on #72
Sorry, but these bindings are important for performance. I do not want to add bad for performance solution.

You can write own custom hook, it is very easy.

[2019-07-11 17:28] #72 closed

[2019-07-30 14:27] bhovhannes opened #74 "Why Redux DevTools shows `@changed` event?"
Hi,

Redux DevTools logs `@changed` event after each event dispatched on storeon store.
At least in my case that makes no sense, because I already see events affecting the state and info about `@changed` is showing duplicate information.

![image](https://user-images.githubusercontent.com/7450378/62137252-b0d5a080-b2f6-11e9-9da5-9b4eeaa09d52.png)

Trying to understand the reason I've found that th

[2019-07-31 18:45] ai commented on #74
We show this event in DevTools, because this event dispatches and user may want to add a listener for the event.

I agree that it will cool to add an option to hide some specific events. Maybe DevTools already support filters? Can I ask you to check their docs or code?

[2019-08-01 08:22] mindplay-dk opened #75 "Multiple listeners for the same event?"
The API makes it possible to apply more than one listener to the same event:

[code]

In this example, event listeners run in succession, which may produce a surprising result.

The problem is see is that, while this API resembles that of a simple event bus, these are not in fact just events invoking simple event listeners - but rather, actions are reductions of current state to next state.

Is th

[2019-08-01 08:24] ai commented on #75
Can you show the actual and expected result?

[2019-08-01 08:40] mindplay-dk commented on #75
Well, so, in this case, the actual result is of an action named `inc` is probably to increment by one? But the second listener changes this behavior, and instead it now increments by two.

My point is, if you actually had two event listeners for the same event, is there any real-world use-case where the second listener doesn't change the *meaning* of that action?

Of course, yes, there's a meaning

[2019-08-01 08:43] ai commented on #75
The second event listener could change the different key in the store. For instance, it could update cache.

Anyway, I am not big fan of prohibiting ways for developers, until we are sure that it is a bad practice.

[2019-08-01 08:50] mindplay-dk commented on #75
Agreed, and I'm not looking to prevent anything.

What I see is an opportunity to simplify the API and make it a bit simpler.

It seems the `store` is only used for one thing: attaching action-listeners.

So I see an opportunity to remove the dependency on store, so that modules containing action-listeners can be simplified and reduced to plain old objects.

So this:

[code]

Can be reduced to thi

[2019-08-01 08:52] mindplay-dk commented on #75
(Note that this doesn't prevent different modules from attaching listeners to the same events - it only prevents you from attaching multiple listeners within the same state module, which seems like it would almost always be a bug anyhow?)

[2019-08-01 12:32] bhovhannes commented on #74
Didn't thought about checking DevTools docs first 🙂

I've found that it has options [actionsBlacklist / actionsWhitelist](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/API/Arguments.md#actionsblacklist--actionswhitelist) and more advanced [predicate](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/API/Arguments.md#predicate).

In my case I ended up

[2019-08-01 12:32] #74 closed

[2019-08-01 18:59] ai commented on #75
Hm, I like this API. Can you try to add it and check will it change the bundle size?

[2019-08-02 09:31] mindplay-dk commented on #75
Hmm, I just thought of a down side to this approach: there are two other methods on the store, `get()` and `dispatch()` - so this change would actually prevent modules from getting data and/or dispatching an event on startup. Those *might* be meaningful operations in some rare cases? 🤔

[2019-08-02 11:23] mindplay-dk opened #76 "Typings don't work?"
Glad to see we have TypeScript support now :-)

But the top-level imports don't seem to work?

![image](https://user-images.githubusercontent.com/103348/62366792-24122900-b528-11e9-8186-97c5b19eaf71.png)

It's the same for `import useStoreon from 'storeon/preact'`.

Note that `import { Module, StoreonEvents } from 'storeon'` works fine.

Using TypeScript 2.9.2, storeon 0.9.2.

[2019-08-02 15:23] martinkomitsky commented on #76
@mindplay-dk I had this issue too, but it's easily resolved by splitting into two imports:

[code]

Another problem is when you start defining types for your store modules, you pass your created store like

![image](https://user-images.githubusercontent.com/14847018/62380638-402ac000-b552-11e9-9029-4852b088e127.png)
and then it breaks on compiling:
![image](https://user-images.githubusercontent.co

[2019-08-02 18:51] ai commented on #76
I am not TS user and I can't help you here. But I will accept PR to done or typings.

[2019-08-02 18:53] ai commented on #75
Of course, we need `dispact` for async events.

Should we close the issue in this case?

[2019-08-03 03:35] hadeeb commented on #76
`storeon` exports commonjs modules and has no default export.

You can either enable SyntheticDefaultImports in tsconfig
Or
use [import/require](https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require)
[code]

Hope this helps.

[2019-08-04 09:35] mindplay-dk commented on #76
I was copy/pasting from the example in the README.

Can we get a working example in the README pls? :-)

(Or a leading note about SyntheticDefaultImports?)

[2019-08-04 09:36] mindplay-dk commented on #75
I guess, yeah.

The main reason I'm interested, is because I'd like to get full type-safety with inference.

I know you're not interested in TS, so yeah.

[2019-08-04 09:36] #75 closed

[2019-08-07 11:32] RenasSitdikov commented on #44
Hi!

I use Storeon with Preact X, it works fine in dev server. But I ran build with `--no-prerender` flag then it shows error in browser:
`Uncaught TypeError: n(...).createContext is not a function`

index.js:

`import './style';`
`import App from './components/app';`
`import { render } from 'preact';`
`import { store } from './store/reducer';`
`import StoreContext  from 'storeon/preact/context';`

[2019-08-07 15:49] RenasSitdikov commented on #44
Update

I've found solution, preact-cli also should be updated to version 3 and serve script in `package.json` should be look like this:

`"serve": "preact build --no-prerende && serve build --single",`

[2019-08-13 16:44] unger1984 opened #78 "Dispatch zero logger show wrong"
storeon ver 0.9.2

store.dispatch('session/setLimit', 1) show in log "action session/setLimit 1"

store.dispatch('session/setLimit', 0) show in log "action session/setLimit" without 0

[2019-08-13 18:39] ai commented on #78
Thanks. Fixed cc22e9c

[2019-08-13 18:39] #78 closed

[2019-08-14 00:56] ai commented on #78
Released in 0.9.4

[2019-09-20 13:53] majo44 commented on #46
Hi, so I had same problem, I have mid size app and I want to split it to independent lazy loaded micro frontends (chunks ). Eg Admin panel which implementation contains business logic, ui, services is very rarely used I want to load lazy. In general each separate "page" of my app I implements as separate `storeon` module, and later I'm able to manage which of them should be lazy loaded which not.

[2019-09-20 14:29] ai commented on #46
Current API was created to keep all store logic in one chunk. I will think about this feature in next big update, but it will not be soon.

[2019-10-28 06:40] jeetiss opened #80 "Provide destroy method"
# Feature request

I can subscribe on some events inside module, but I can't unsubscribe with current API

For example, [crosstab](https://github.com/storeon/crosstab/blob/master/index.js#L33) module subscribes on `storage` event and this logic will work whole page lifecycle, and I don't have mechanism to stop it.

[2019-10-28 13:58] ai commented on #80
Storeon already support API for unbinding. `on` method returns function, which will unbind this listener.

https://github.com/storeon/storeon/blob/master/index.js#L28

I will double check docs and will try to make it clear (don't close the issue).

[2019-10-28 14:16] jeetiss commented on #80
Yep I can `off` store subscription that I made, but I can't unbind listeners that provided by third party modules as https://github.com/storeon/crosstab/blob/master/index.js#L33-L42, https://github.com/storeon/router/blob/master/index.js#L72, https://github.com/storeon/router/blob/master/index.js#L94 and so

I can't stop `storage` event and events by router when I don't need them, because there ar

[2019-10-28 14:29] ai commented on #80
Hm. Do you want some core API to remove modules from the app?

What is use case? How do you see this API?

[2019-10-28 14:51] jeetiss commented on #80
Yes, I want some core API to remove all modules. Currently I'm working on figma plugin and I want to be sure thats all subscriptions unbound when user closes plugin.

Use case:
[code]

[2019-10-29 12:46] ai commented on #80
What do you think if we will add `@destroy` event to Storeon plugin convention. Plugins will unbind global events (like `window.addEventListener` but not `store.on` events) on this event?

[2019-10-29 13:11] jeetiss commented on #80
I realize that I can wrap over `createStore` function and create destroy method without modifying core logic, thats demo -> https://codesandbox.io/s/destroy-storeon-koe26

But `@destroy` event to Storeon plugin convention sounds great

[2019-10-29 20:04] ai commented on #80
Do you need to use Storeon plugins or you write your own? If you have only own modules, this way will work for you.

If you need a “destroy” support in standard plugins, we need something like `@destroy` event (but still it will be awesome to move it to some submodule, since it is rare feature).

[2019-11-06 11:27] majo44 commented on #80
Hi, I think this is responsibility of module author to allows "destroy" module. We can imagine multiple different scenarios where the store have to support destroy but only partially, so covering them all from the storeon top level will be hard and will requires changes of api. In my project I'm using such pattern for modals:
[code]

Example on @jeetiss code:
[![Edit destroy-storeon](https://codes

[2019-11-15 20:14] bhovhannes opened #82 "Dispatch triggered outside React causes N re-renders when useStoreon is used N times"
Hi,

I have an `App` component which uses hook A, which calls to hook B.
Both hooks are using `useStoreon` hook to get the same value (let's call it `items`) from state.
Both hooks are simple functions without any other hooks involved.
When my component is rendered, hook A gets called, then hook B and `console.log` I put inside component prints once.
Everything is fine.

Now I create a function, w

[2019-11-15 20:20] bhovhannes commented on #82
Maybe this is because React hooks work that way.
Looking to https://github.com/storeon/storeon/blob/master/react/index.js#L34-L38, `@changed` event listener is calling `setState`, but what happens when `setState` is called not from component ?

[2019-11-15 21:49] bhovhannes commented on #82
The reason is that if someone writes
[code]
each call to `useStoreon` registers a new listener for `@changed` event ([./react/index.js#L34-L38](https://github.com/storeon/storeon/blob/master/react/index.js#L34-L38)).

Instead, each component should subscribe to `@changed` event only once, even if `useStoreon` is called multiple times.
That is important from performance perspective, too.

[2019-11-16 01:04] ai commented on #82
Totally agree

Do you know any API which could help us here?

[2019-11-16 14:12] bhovhannes commented on #82
After one day of research the answer is unfortunately No.

I was thinking about finding something which will be unique for each component, to count subscriptions per component, but it seems hooks doesn't provide such thing.

`react-redux` uses a thing called `Subscription` internally, and it is responsible for that logic and actual subscription to redux store. They've tried to get rid of it in v6

[2019-11-16 16:10] ai commented on #82
Maybe we can ask React and Preact team for this API?

[2019-12-04 18:40] mlshv opened #83 "Check if useStoreon is called inside the Provider"
**TL;DR** Check if useStoreon is called inside the Provider in dev environment

I have tried to use Storeon on a hackathon because I had found it very simple and lightweight. It was late at night so my mind was kind of shadowed. When I've thought I'd done everything, I saw an error: `TypeError: Cannot read property 'get' of undefined`. Long story short, it took me half an hour to realize that I'd

[2019-12-04 19:39] ai commented on #83
Yeap. Good idea. Do you want to send PR? Just use `if (process.env.NODE_ENV === 'development')` to trim this code from produciton.

[2019-12-11 16:17] #83 closed

[2019-12-11 16:31] ai commented on #83
Warning was released at 0.9.6. Thanks to @hadeeb for fix.

[2019-12-27 19:19] polemius opened #88 "Storeon module to work with WebSocket"
@ai I've implemented module to work with websocket. It is sending all dispatched events to websocket and dispatching all received events from websocket.

What do you think? Can I move it to @storeon organization.

https://github.com/polemius/websocket

[2019-12-27 19:21] ai commented on #88
How do you care about reconnection during losing the connection?

Also, what server do it need?

[2019-12-27 19:26] polemius commented on #88
For now it doesn't has reconnection mechanism. But I'm planing to implement it.

I have implemented [simple echo server](https://github.com/polemius/websocket/blob/master/test/demo/ws_server.js) for testing. What do you mean about _what server_? Sorry, I'm not very good with WebScokets.

[2019-12-27 19:28] ai commented on #88
Let's wait for reconnection implementation, since WS can't be used without it.

Also you need to think about ping/pong to detect failed connection.

You need to add instructions to docs. In what format server will receive messages.

[2019-12-27 19:30] polemius commented on #88
Cool, thanks 👍  When I will implement it I will write here. 😃

[2019-12-28 16:01] paul-pro commented on #88
🤔Wow, I was also working on the same module and have some suggestions for improvements:
1. Some config as a second argument to the module would be nice to have with either 'include' or 'exclude' events array. Because 90% of the time you do want to have some local-only events.
2. Are sure that your implementation of 'ignoreNext' mechanism is 100% free from race condition bugs? It is looks like simu

[2019-12-29 09:25] polemius commented on #88
@paul-pro Thanks for ideas! I've created two issues to implement that you described.

As I've moved this repository to @storeon org I'm going to close this issue.
https://github.com/storeon/websocket

[2019-12-29 09:25] #88 closed

[2019-12-29 12:51] ai commented on #88
I will promote your module after Russian holidays

[2019-12-29 19:51] polemius commented on #88
@ai Thank you 😃

[2019-12-30 16:09] ruimarques opened #89 "Listening to @dispatch we also receive @changed events."
[code]

Is this intentional? At least from documentation it doesn't seem so:

"@dispatch is fired on every store.dispatch() call"

So I wouldn't expect it to fire to `@changed` built-in event.

[2019-12-30 16:11] ai commented on #89
Yeap.

Do you want to send PR to docs with replacing this phrase to `on every new action`?

[2019-12-30 16:11] #89 closed

[2020-01-21 21:00] polemius opened #92 "@init and async function"
Look like if pass the async function to `@init` then storage doesn't update. I have written small test for this:

[code]

How I can handle it?
I need it in https://github.com/storeon/localstorage because some storage should be fired with await in `@init`.

[2020-01-22 01:38] ai commented on #92
You need to dispatch another event and change data there:

[code]

We added this limit for a purpose to always have an event in history on any state changes.

[2020-01-22 01:38] #92 closed

[2020-01-22 01:39] ai commented on #92
Do you have an idea of how we can improve docs about this issue?

[2020-01-23 07:06] polemius commented on #92
I'm not sure what I did wrong but here the test that fail with `await` in `@init`:

[code]

I have this problem in PR: https://github.com/storeon/localstorage/pull/28

[2020-01-23 08:55] ai commented on #92
You need to wait that 500 ms before calling `expect()`. Try:

[code]

[2020-01-23 19:29] polemius commented on #92
@ai Thank you. Now it works. :tada:

[2020-03-06 17:21] shoonia opened #95 "Failed build in Parcel with --experimental-scope-hoisting"
I'm updated the storeon to `v1.0.0`. And the new version doesn't build with parcel-bundler if using flag `--experimental-scope-hoisting`. With storeon `v0.9.8`, I don't have any problems.

**command:**
[code]

**error:**
[code]

**package.json**
[code]

[2020-03-06 17:26] ai commented on #95
It happened because of the migration to ESM.

I will try to fix it today.

[2020-03-06 17:30] shoonia commented on #95
Thank you!

[2020-03-06 23:44] ai commented on #95
Fixed 8dd0d1980a3c0528b481c545a7a77702990cdbfe

[2020-03-06 23:44] #95 closed

[2020-03-07 04:55] ai commented on #95
Released at 1.0.1. Thanks for the report.

[2020-03-07 09:11] shoonia commented on #95
I had to change the way of import Provider.

[code]
The old import goes with error:
[code]

It works now. Thanks.

[2020-03-08 05:18] ai commented on #76
In 1.0 we added ESM and in 2.0 we are planning to move to named exports https://github.com/storeon/storeon/commit/6d7770b01687706c8a8afbf83d53c40ed95c0609

[2020-03-08 05:18] #76 closed

[2020-03-08 17:27] Andarist opened #96 "Set appropriate peer dependencies on React & Preact"
`storeon/react` & `storeon/preact` entries don't work in strict package managers such as Yarn2 and Pnpm without peer dependencies being expressed in package.json.

Both should be added to the package.json as peer dependencies. Luckily you can also mark them as optional, like this:
https://github.com/davidkpiano/xstate/blob/d1a9c405b866e3d51843295f86d7e095389e2573/packages/xstate-react/package.json

[2020-03-08 20:48] ai commented on #96
@Andarist

1. Will `peerDependenciesMeta` work in npm or they will see the peer dependencies warning?
2. Can we use [`optionalDependencies`](https://npm.github.io/using-pkgs-docs/package-json/types/optionaldependencies.html) if mpm do not support `peerDependenciesMeta`?

[2020-03-08 21:33] Andarist commented on #96
1. it's supported by npm since [v6.11.0 (2019-08-20)](https://github.com/npm/cli/releases/tag/v6.11.0)
2. not sure, I never have found a good use case for `optionalDependencies`

[2020-03-08 21:36] ai commented on #96
@Andarist great. Can you send PR to save your name in the project history?

[2020-03-08 22:23] #96 closed

[2020-03-08 23:46] ai commented on #96
Released at 2.0.1

[2020-04-08 22:24] s0kil opened #100 "Support for solid-js"
Is if possible for storeon to officially support https://github.com/ryansolid/solid similar to Svelte?

[2020-04-08 22:26] ai commented on #100
I think it is possible. Do you want to create it?

[2020-04-08 22:29] s0kil commented on #100
I will look into it, currently not very familiar with storeon and solid internals.

[2020-04-28 13:32] mariosant opened #101 "Storeon export problem"
Hi there, it seems there is an issue with the storeon exports. I am unable to use this with react-scripts defaults.

I have a codesandbox that demonstrates the problem: https://codesandbox.io/s/storeon-exports-issue-hh7ce

[2020-04-28 13:34] ai commented on #101
Can you write a comment and ask CRA to release my PR with the fix? https://github.com/facebook/create-react-app/pull/8768

[2020-04-28 13:48] mariosant commented on #101
Bummer, they have locked the conversation.

I am closing this since it's a CRA specific issue. Thanks @ai!

[2020-04-28 13:48] #101 closed

[2020-05-01 05:57] huhao98 opened #102 "Should use index.cjs.js suffix as the CommonJS module entry instead of using index.cjs"
The **CommonJS** module entry of the ```package.json``` in npm is ```index.cjs``` and the **esm module** is ```index.js```.

This will cause problems for current CRA tests. Without ejecting the CRA, test cases can not import storeon. For example, following test always yield error with ```createStoreon``` is undfined.

[code]

It seems that the webpack config in CRA won't match **.cjs** suffix, and

[2020-05-01 13:29] ai commented on #102
It happens because of bug in CRA. We already fixed it
https://github.com/facebook/create-react-app/pull/8768

But they do not release it. Can you create an issue where you will ask them to release this PR?
https://github.com/facebook/create-react-app/pull/8768

[2020-05-03 06:14] huhao98 commented on #102
Thanks :P. I will post there then.

[2020-05-03 16:13] #102 closed

[2020-05-05 09:55] distolma commented on #100
I've just published `storeon-solidjs` package https://github.com/distolma/storeon-solidjs, so you can try and share your experience. I think this package can also move to the @storeon project, isn't it? @ai

[2020-05-28 09:17] rayriffy opened #103 "Support for server-side rendering"
I am currently using Storeon with Gatsby. It working just fine on development but when Gatsby is on build stage where it will generate static HTML file, it failed because Storeon is `undefined`.

![Actions log](https://cdn.discordapp.com/attachments/577046038716874762/715492381738270784/Screen_Shot_2563-05-28_at_05.22.30.png)

[GitHub Actions log](https://github.com/rayriffy/rayriffy-h/runs/714541

[2020-05-28 11:49] ai commented on #103
Do you have an idea of how to fix it?

[2020-05-28 12:10] rayriffy commented on #103
Maybe have some predefined storeon instance if SSR is detected? Something like...

[code]

It going to increase bundle size for sure. I am not confident in this method btw, this is my very first time to use state manager from outside default React itself (+ no experience in Redux).

But Redux way to do it is to have initial state preload in client, too. So, initial instance may do it I guess.

[2020-05-28 12:18] ai commented on #103
Don’t worry about the bundle size, there is a technique to use a different file for SSR and browser build.

How do you intialize the store in your app?

[2020-05-28 12:34] rayriffy commented on #103
##### (Site content is quite NSFW btw but if you do not switch off safe mode it's fine.)

Storeon instance is being created in [store/storeon.ts](https://github.com/rayriffy/rayriffy-h/blob/7f34f5aa479630d2b51dfd4f3c4d744fd427b24b/apps/web/src/store/storeon.ts#L21) and context components is defined in [store/index.tsx](https://github.com/rayriffy/rayriffy-h/blob/7f34f5aa479630d2b51dfd4f3c4d744fd42

[2020-05-28 12:37] rayriffy commented on #103
That solution that I suggest earlier is not much durable. There still need to fill the blank undefined value.

![](https://cdn.discordapp.com/attachments/577046038716874762/715544017076617236/image0.png)

[2020-05-28 13:45] rayriffy commented on #103
I have came to the nice efficient solution which works! Details in PR #104

![](https://cdn.discordapp.com/attachments/577046038716874762/715560687513894952/Screen_Shot_2563-05-28_at_20.42.37.png)

Keep in mind that there're some issue need to tackle in `@storeon/crosstab` and `@storeon/localstorage` because server-side rendering does not have `window`. So, there's no any `localStorage` any cause

[2020-05-29 08:00] rayriffy commented on #103
For plugins, I came with solution to disable both plugins that require window feature. But I am thinking that should it be better to disable them inside the dependencies because it will also increase bundle size, too.

https://github.com/rayriffy/rayriffy-h/blob/ecb13f12701443089ad7a9153bbdeea955eb3462/apps/web/src/store/storeon.ts#L25-L28

[2020-05-29 09:06] ai commented on #103
Thanks. Released in 3.0.

BTW, good website 👍. My projects are NSFW-safe zone, since I post NSFW content to my Twitter too.

[2020-05-29 09:06] #103 closed

[2020-05-29 10:02] rayriffy commented on #103
Thanks, man. I will help to contribute more on documentation in stores and some plugin as well.

[2020-06-20 15:38] distolma commented on #100
@ai I think you can close this issue

[2020-06-20 15:46] #100 closed

[2020-06-26 06:25] DmitrySkripunov opened #112 "Looks like testing async functions is not working"
I've get the example from doc and remake it for my project and it looks like testing **storeon** functions with **_async_** callbacks doesn't work. **Jest** doesn't wait **_await_**

For example I have a function:
[code]
and a test for that function:
[code]

As a result that assertion:
[code]
will be **false**.

Basically it looks like right way, because I call _**store.dispatch**_ synchronously a

[2020-06-26 22:03] sebastienfi opened #113 "Example with remote data fetching"
Anyone with an example implementing `storeon` with remote data fetching? I've come across the great [swr](https://swr.now.sh/) lib, how would you implement both?

[2020-06-26 23:39] ai commented on #113
[code]

Do you want to send PR and add a section to the docs?

[2020-06-27 20:37] sebastienfi commented on #113
@ai I'll do this.
Thanks for improving the doc!

[2020-07-02 03:10] ai commented on #112
Seems like it happens because you run `expect(store.get().allergens.length).toEqual(2)` before Storeon calls all events. This is a problem of Promise API, not Storeon. It calls subscribers on the next tick.

The simple hack is to use `nanodelay`:

[code]

[2020-07-02 03:10] #112 closed

[2020-07-09 05:58] ppulwey opened #115 "createStoreon in TypeScript"
Hello! First of all, I'd like to say that I love this project. Thank you very much for the good work! ❤️

In JavaScript the createStoreon method looks like this
`export const store = createStoreon([projects, users])`

In TypeScript I cannot split the different events and modules. To make the code work, I need a big interface for events and a big one for the modules. Otherwise Storeon complains abo

[2020-07-09 06:21] ai commented on #115
Yeap, you need to define the single interface for the whole state and events.

Do you have any idea how to make partial types for the state?

[2020-07-09 12:05] BabkinAleksandr commented on #115
Hi, sorry if I've interrupted your discussion. But I've faced this issue, and I'm using storeon like this:

The every local store has its local types exported, but for `createStoreon` it uses global `State` and `Events`.
That global store types is intersection of local stores types.

So, here is the global state looks like:

[code]
---
And this is local store:

The local store exports its local ty

[2020-07-09 14:10] ppulwey commented on #115
@BabkinAleksandr This works like a charme!

I have been using TypeScript for a while now, but I have never used Intersection Types before. (https://www.typescriptlang.org/docs/handbook/advanced-types.html#intersection-types)
I tried the same thing with Union Types. That did not work, though.

Anyway, that's great!

Thanks a lot!

[2020-07-09 14:10] #115 closed

[2020-07-16 18:49] webarthur opened #116 "Browser version"
Why not a browser version? The link https://unpkg.com/storeon@3.0.3/index.js would be compatible with the browser if:

[code]

Something like the component: https://unpkg.com/vue-router@3.3.4/dist/vue-router.js

[2020-07-16 19:05] #116 closed

[2020-07-19 13:56] krvajal opened #118 "Pass store as third argument to the event handler"
Currently if you want to dispatch an event from inside an event handler you need to have the store on scope by using a closure.
If I want to have my event handler in a separate file, then I cant use closures to have access to the store. A way of solving this is by passing the store as the third argument to the event handler, something like

[code]

[2020-07-19 17:00] ai commented on #118
How it will affect the size of the project?

[2020-09-18 12:22] popuguytheparrot opened #124 "storeon example with nextjs"
Hi. Which of the examples in the nextjs repository is close to using like reference?

[2020-09-18 14:31] ai commented on #124
We do not have an example in Next.js, because nobody used it.

Do you want to add it?

[2020-09-18 14:46] popuguytheparrot commented on #124
I want to try to make a working implementation with the features of nextjs. Therefore, I clarify which of the [examples with state managers](https://github.com/vercel/next.js/tree/canary/examples ) will be close to the storeon?

[2020-09-18 14:48] ai commented on #124
Redux example will be the closest one. Just replace functions names and reducer syntax.

[2020-09-18 14:48] #124 closed

[2020-10-21 07:57] rayriffy commented on #82
Do we have any progress regarding to this issue? I am developing some dnd related project and 1 dispatch call causes 7+ seconds on main thred blocking atm with optimized rerender code.

![image](https://user-images.githubusercontent.com/22584594/96690215-5a9ec280-13be-11eb-811c-a4413290c09a.png)

[2020-10-21 08:00] ai commented on #82
I am working on a new state manager https://github.com/logux/state

[2020-10-21 08:09] rayriffy commented on #82
Wow that was fastest reply ever lol. btw just see that I called `dispatch()` on the same level as Storeon context instead of calling it in children sry but looking forward to new state manager 😎

[2020-10-22 14:32] majo44 opened #127 "Storeon dispatch the events to unregistered callback if the event in same cycle cause callback unregistration."
Please look at the example bellow:

[code]
https://codesandbox.io/s/storeon-for-each-problem-k4zse?file=/src/index.js

I know this looks really strange. But I comes to such case in my react application and `useStoreon` hook.
The result React Warrning like:
[code]
How this happens:
1. Component Y with `useStoreon` is rendered, so it is attaching the '@changed' event handler firstly.
2. Component X

[2020-10-22 15:31] ai commented on #127
I am ok with size increasing. Please send PR.

[2020-10-22 23:39] ai commented on #127
The fix was released in 3.0.5.

[2020-10-23 08:33] #127 closed

[2020-10-23 09:32] HZ-labs opened #129 "a component rerendered if we update the variable, but doesn't change it"
Is it normal, if a component rerendered if we update the variable, but doesn't change it?
like this:
[code]
component with `const { var1 } = useStoreon("var1");` will be rerendered every time on this event, but var1 doesn't changed

[2020-10-23 09:40] ai commented on #129
Yeap. It is the limit of the current design. My next state manager, Logux State will be smarter.

[2020-10-23 09:40] #129 closed

[2020-10-23 14:17] octav47 commented on #118
https://github.com/octav47/storeon/tree/feature/issue_118_storeon_as_third_argument

[code]

[2020-10-23 23:50] ai commented on #118
1-2 bytes is OK

[2020-10-24 20:12] octav47 commented on #118
PR #130

[2020-10-24 20:43] #118 closed

[2020-10-24 21:12] ai commented on #118
The fix was released in 3.1

[2021-01-02 10:08] kjvoogd opened #133 "peerDependencies has react 16"
using 3.1.2 with react ^17.0.1 I can only npm i storeon @storeon/localstorage  --**legacy-peer-deps**
because: peerDependencies has "react": "^16.8.0" ?

thx, KJ

[2021-01-02 23:29] ai commented on #133
Fixed 7e23869

[2021-01-02 23:29] #133 closed

[2021-01-02 23:32] ai commented on #133
Released in 3.1.4

[2021-01-04 22:22] aguilera51284 opened #134 "snowpack compatibility"
when i import ``import {storeonDevtools} from 'storeon/devtools';`` i get this error ``Dependency Install Error: Package "storeon" exists but package.json "exports" does not include entry for "./devtools".``  could you verify this thanks :D

[2021-01-04 22:25] ai commented on #134
Here is `package.json` content of npm version:

[code]

Be sure that you are using the latest version. Maybe it is a Snowpack issue?

[2021-01-11 16:52] aguilera51284 commented on #134
mmmm close this... is bug from snowpack-3.rel in version 2 this work thx @ai

[2021-01-11 16:52] #134 closed

[2021-02-09 19:11] bbashel1 opened #135 "TypeError: (0 , _react2.connectStoreon) is not a function"
getting `TypeError: (0 , _react2.connectStoreon) is not a function` in test. Npm start works fine.
Importing as:

`import { connectStoreon } from 'storeon/react';`

[2021-02-09 21:38] ai commented on #135
What Node.js and test runner do you use?

[2021-02-09 21:52] bbashel1 commented on #135
@ai
running
`Node: v14.8.0 `
default `npm test`

[2021-02-09 21:55] ai commented on #135
And what `npm test` runs?

[2021-02-09 22:02] bbashel1 commented on #135
@ai my bad. Updated previous comment.

[2021-02-09 22:05] ai commented on #135
It is hard to say. Try to check your `tsconfig.json` and Jest config.

Seems like it depends on the environment. We use the same Jest to test Storeon itself.

[2021-02-11 18:33] bbashel1 commented on #135
jest config issue

[2021-02-11 18:33] #135 closed

[2021-03-03 10:47] kamil7x commented on #82
@ai what does this mean for storeon, will it still be maintained?

[2021-03-04 13:57] ai commented on #82
@kamil7x I will accept and release PRs

[2021-03-09 11:20] kamil7x opened #137 "Initial seeding"
Hi,
I am trying to do some initial store seeding for development purposes. I know I could pass proper state to `@init` handler, but in my opinion, dispatching set of actions would be better, since my handlers are doing some additional work inside (e.g. generate and set id for item).

In MobX I was able to return something from action:
[code]
and use it in my seeder file, like this:
[code]
and then

[2021-03-09 21:53] ai commented on #137
You can use action creator:

[code]

Another way is 2 actions:

[code]

[2021-03-09 21:53] #137 closed

[2021-03-24 10:51] omcg33 opened #138 "Subscribe on dispatch after store changed"
Hello.

I trying implement keypress form validation.

When user typed one symbol in input, I want to validate this value.

How can i do it?

[code]

[2021-03-24 18:34] ai commented on #138
Sorry. I have not a good idea too. It was one of my complaints about the whole Redux idea.

[2021-03-24 18:54] majo44 commented on #138
The work around can be like:
[code]

[2021-03-24 19:06] ai commented on #138
Great. Thanks

[2021-03-24 19:06] #138 closed

[2021-03-25 05:52] omcg33 commented on #138
Look for redux-saga. They did it. Any action that you got by take() will return you actual state
yield take(SET_NAME, () => {
const state = yield select();
// state has changes of SET_NAME
})

[2021-03-25 10:55] majo44 commented on #138
@omcg33

The sage or redux-observables are able to achieve such requirement just because they modify the storage behavior, Redux has middlewares and enhancers  to achieve that, but you have to do that in the place where you are creating the store, you can't enhance the store behavior after it is created. It is declarative approach.

On the other hand Storeon doesn't have middlewares and enhancers,

[2021-07-26 17:53] adminy opened #142 "Store isn't passed to all Components as a param"
I thought the whole point of having   `<Provider value={store}>` is so that when you instantiate a Component you have `store` as one of the [props](https://react-redux.js.org/api/provider#props) you can access.

But props is just an empty json for any component.

Or do I need to call `mapStateToProps` / `connect`?

[2021-07-26 18:18] ai commented on #142
You need to use `useStoreon` hook (it is like `mapStateToProps`).

See https://github.com/storeon/storeon#components

[2021-07-26 18:18] #142 closed

[2021-10-11 16:52] sutharm opened #146 "Issue after Preact Build "Uncaught TypeError: (intermediate value) is not iterable""
I am getting the following error after Preact build.
"Uncaught TypeError: (intermediate value) is not iterable" on following code line number 2

`import { createStoreon } from 'storeon'
let count = store => {
  store.on('@init', () => ({ page: [],misc: [], category:[], filters:[],product:[] }))

  store.on('filters', ({ filters }, filter1) => ( {filters: {...filters, ...filter1}}));

  store.on('c

[2022-02-01 13:42] LaminarPLayer opened #149 "Invalid link in source code"
The link to `remotedev[dot]io` in the `devtools/index.js` file seems to be very invalid, redirecting to a baaaad, spam website. Probably would be better to just remove this link.

Sorry if I made something wrong, this is my first ever Issue on GitHub ;)

[2022-02-01 14:05] ai commented on #149
Thanks. Fixed https://github.com/storeon/storeon/commit/118b5427b7b885dc8324cbde359a8ff7253d3830

[2022-02-01 14:05] #149 closed

[2022-02-23 17:08] ljmerza commented on #74
storeon has its own devtools libray now, but i dont see a blacklist option?

[2022-02-24 00:15] ai commented on #74
Yes, you can send PR with this option

[2022-03-12 19:28] d-v opened #150 "404 when importing StoreContext from unpkg.com/storeon/preact?module"
Have a basic Preact app running in electron and cannot import StoreContext in a component. The root component has an import `import { createStoreon } from 'https://unpkg.com/storeon?module'` which seemingly works, but the import `import { StoreContext } from 'https://unpkg.com/storeon/preact?module'` fails in child component with 404.
![image](https://user-images.githubusercontent.com/7275135/1580

[2022-03-12 19:48] #150 closed

[2022-04-05 05:57] amit08255 opened #151 "How to add reducers dynamically and event handlers and states dynamically?"
Please tell me how to add reducers dynamically and event handlers and states dynamically?

I have a page _app which set session in store required by app. Problem is I want to use same store and different page has some different states data. How can I add them dynamically?

[2022-04-05 08:28] ai commented on #151
There is no API for that.

Also note that Storeon is deprecated. Use [Nano Stores](https://github.com/nanostores/nanostores). They are more flexible.

[2022-04-05 08:28] #151 closed

[2022-04-05 08:28] majo44 commented on #151
## Short answer
You can call `store.on` (so attach 'reducer' or 'effect') on any place where you have access to store object.

## Long answer
[code]
#### Caveats
You are not able to use `@init` event on the storeon modules which you are registering asynchronously. The `@init` event is dispatched once, synchronously, on store creation. If you need to do some work on init (eg set default state) you

[2022-06-16 10:05] adityadhawan22 opened #152 "Using async data fetching does not return the latest state after calling state.get()"
[code]

[2022-06-16 10:06] ai commented on #152
Sorry, the project on maintaince stage.

Only PR is accepted.

We recommend moving to Nano Stores https://github.com/nanostores/nanostores

[2022-09-30 12:15] 1000001rtem commented on #135
@bbashel1 Could you please tell me how you solve this? 1000001rtem@gmail.com

[2022-11-07 14:01] SeinopSys opened #154 "useStoreon hook types are misleading and can lead to runtime errors"
## Steps to reproduce

Consider the following state:

[code]

If you plug this into the `useStoreon` hook to use in your component, it might look something like this:

[code]

This code compiles perfectly fine and reports absolutely no type issues. However, as soon as you actually try to use the component with a perfectly valid state, you get the following error:

Those deeply familiar with the li

[2022-11-07 19:32] ai commented on #154
How do you initialize store, so you have a `undefined` value?

[2022-11-07 19:52] SeinopSys commented on #154
Like you normally would:
[code]

See a full reproduction here: https://playcode.io/1005342

[2022-11-07 19:58] ai commented on #154
Strange. Maybe we have an initialization issue rather than type issue.

Sorry, this project is on the maintained stage (I am working on another state manager [Nano Stores](https://github.com/nanostores/nanostores)).

You need to debug Storeon initialization on your own (but I will accept PR and release new version when you will find an issue).

[2022-11-16 08:18] krzysztofMlczk opened #155 "Storeon DevTools Stack Trace"
I would like to knwo which part of the code dispatched a certain action. Is there a way to enable action calls tracing just like it works in redux?